{% extends 'base_application.html' %}

{% block content %}
<button type="button" class="btn btn-primary form_modal_button" data-title="Send Message" data-url="\messages\_send"  data-target="#form_modal">
    Launch demo modal
</button>
    <textarea class="summernote" name="editordata"></textarea>
    <div id="message_control">
        <a href="/create" id="add">Create</a>
    </div>
    <div id="message_box">
        <a href="#" class="message seen">
            <p class="sender">John Doe</p>
            <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <p class="time">8:12 PM</p>
        </a>
        <a href="#" class="message seen">
            <p class="sender">John Doe</p>
            <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <p class="time">8:12 PM</p>
        </a>
        <a href="#" class="message seen">
            <p class="sender">John Doe</p>
            <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <p class="time">8:12 PM</p>
        </a>
        <a href="#" class="message seen">
            <p class="sender">John Doe</p>
            <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <p class="time">8:12 PM</p>
        </a>
        <a href="#" class="message seen">
            <p class="sender">John Doe</p>
            <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <p class="time">8:12 PM</p>
        </a>
    </div>
{% endblock content %}
    
