{% extends 'base_application.html' %}
{% load static %}
{% block extracss %}
<link href="{% static 'assets/datatables/datatables.min.css' %}" rel="stylesheet">
{% endblock extracss %}
{% block title %}All Invoices{% endblock title %}
{% block content %}

<div class="block p-3">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Client</th>
                <th>Issue Date</th>
                <th>Due Date</th>
                <th>Value</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in invoices %}
            <tr>
                <td>{{i.pk}}</td>
                <td>{{ i.company.company_name }}</td>
                <td>{{ i.issue_date }}</td>
                <td>{{ i.due_date }}</td>
                <td>{{ i.total }}</td>
                <td>{{ i.get_status_display }}</td>
                <td></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</div>

{% endblock content %}


{% block extrajs %}
<script src="{% static 'assets/datatables/datatables.min.js' %}"></script>
<script>
    $(document).ready(function () {
        var table = $('#example').DataTable(
            {
                "pageLength": 25,
                "lengthChange": false,
                aaSorting: [[0, 'desc']]
            }
        );

        $('#example tbody').on('click', 'tr', function (event) {
            var data = table.row(this).data();
            if ($(event.target).is('td')) {
                window.location.href = "/invoices/" + data[0];
            }
        });
    });
</script>
{% endblock extrajs %}