{% extends 'base.html' %}
{% load static widget_tweaks %}
{% block extracss %}
<link href="{% static 'assets/css/signin.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
<form method="POST" action="" class="form-signin text-center">
  <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}

  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {{ form.non_field_errors.as_text }}
  </div>
  {% endif %}
  <label class="sr-only" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
  {% render_field form.username type="email" class="form-control" placeholder=form.username.label required="true" %}
  {% for error in form.username.errors %}
  <span class="help-block">{{ error }}</span>
  {% endfor %}


  <label class="sr-only" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
  {% render_field form.password class="form-control" placeholder=form.password.label required="true" %}
  {% for error in form.password.errors %}
  <span class="help-block">{{ error }}</span>
  {% endfor %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">© Asa Distribution</p>
</form>
{% endblock content %}